* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
 html, body {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}
:root{
  --textColor: aliceblue;
}

.headerSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 90px;
  background-color: rgb(0, 0, 0);
  gap: 15px;
  box-shadow: 0px 7px 18px 1px rgba(0, 0, 0, 0.75);
  position: relative;
  z-index: 1;
}
.imgLogo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  left: 15px;
  border: 3.5px solid green;
  cursor: pointer;
}
.imgLogo img {
  height: 100%;
  width: 100%;
}
.headerNav {
  width: 60%;
}
.headerNav ul {
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 20px;
}
.headerNav ul a {
  color: var(--textColor);
}
.headerNav ul a:hover {
  color: yellow;
  transition: 0.5s;
}

.pizzaLoaderSection {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  width: 150%;
  height: 150%;
  background: red;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: 3.5s cubic-bezier(0.25, 1, 0.3, 1) circle-out-hesitate both;
}
.pizzaLoaderSection img {
  width: 10%;
  animation: 2s linear 1s infinite reverse both running pizzaLoader;
}

@keyframes pizzaLoader {
  0% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(3600deg);
  }
}

@keyframes circle-out-hesitate {
  0% {
    clip-path: circle(125%);
  }
  40% {
    clip-path: circle(40%);
  }
  100% {
    clip-path: circle(0%);
  }
}
.heroSection {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.heroSection h2 {
  text-align: center;
  width: 50%;
  letter-spacing: 15px;
  position: absolute;
  z-index: 2;
  color: var(--textColor);
  font-size: 50px;
}

.heroSection video {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150%;
  height: 150%;
  filter: brightness(50%);
}
.descriptionSection{
  background-color: black;
  color: var(--textColor);
  width: 90%;
  margin: 0 auto;
  height: 700px;
}
.descriptionSection{
  position: relative;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
 transform: translateY(-15px);
  border-radius: 10px;
}
.textContainer{
  width: 40%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.textContainer h3{
  font-size: 60px;
 
}
.textContainer h3 span{
  color: green;

}
.textContainer h3 span:last-child{
  color: red;
}
.textContainer p{
  font-size: 23px;
  line-height: 40px;
  width: 90%;
  font-style: italic;
}
.textContainer a{
  color: var(--textColor);
  font-size: 25px;
  font-style: oblique;
  display: flex;
  gap: 15px;

}
.textContainer a:hover{
  color: red;
 
  transition: 300ms;
}
.descriptionSection img{
  width: 40%;
  border-radius: 15px;
}